.header {
  background: url("../images/header__bg.png") no-repeat;
  background-size: cover;
  &-container {
    margin: 0 auto;
    max-width: 1150px;
  }
  &__main {
    margin: 66px 0 0 0;
  }
  &__logo {
    padding: 0 234px 0 0;
  }
  &__content {
    padding: 68px 0 0 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__nav {
    &-list {
      display: flex;
      list-style-type: none;
    }
    &-item {
      padding: 0 32px 0 0;
    }
    &-link {
      color: #fff;
      text-decoration: none;
      font-family: "Proxima Nova";
    }
  }
  &__phone {
    padding: 0 0 0 234px;
    &-link {
      color: #fff;
      text-decoration: none;
      font-family: "Proxima Nova";
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    &-scrolldown {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      top: -73px;
    }
    &-social-list {
      list-style-type: none;
      display: flex;
    }
    &-social-item {
      padding: 0 29px 0 0;
      &:last-of-type {
        padding: 0;
      }
    }
    &-text {
      transform: rotate(-90deg);
      color: $white;
      max-width: 50px;
    }
  }
  &__slider {
    &-button--prev {
      background: url("../images/header-slider__arrow-left.svg");
      width: 48px;
      height: 48px;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 10;
      outline: none;
      cursor: pointer;
    }
    &-button--next {
      background: url("../images/header-slider__arrow-right.svg");
      width: 48px;
      height: 48px;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      outline: none;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
    }
    &-pagination {
      display: flex;
      justify-content: center;
      margin: 0 0 66px 0;
      align-items: center;
    }
  }
}
.swiper {
  &-container {
    margin: 66px 0 0 0;
  }
  &-slide {
    display: flex;
  }
  &-slide__title {
    font-size: 72px;
    color: $white;
  }
  &-slide__subheading {
    font-size: 48px;
    color: $white;
  }
  &-slide__text {
    color: $white;
    font-size: 18px;
  }
  &-slide__order-btn {
    color: #af3838;
    border: none;
    margin: 64px 0 0 0;
    font-size: 16px;
    background: rgba(255, 245, 4, 0.93);
    box-shadow: 0px 4px 20px rgba(130, 22, 22, 0.2);
    border-radius: 600px;
    padding: 9px 25px 14px;
  }

  &__bullet {
    height: 3px;
    display: block;
    background: $white;
    opacity: 0.3;
    margin: 0 8px 0 0;
    width: 98px;
  }
  &__bullet-active {
    width: 98px;
    background: #fcf312;
    height: 3px;
    opacity: 1;
    margin: 0 8px 0 0;
    display: block;
  }
}

.btn {
  text-decoration: none;
}
