.product {
  &__header {
    margin: 71px 0 0 0;
    &-title {
      font-size: 42px;
      text-align: center;
    }
  }
  &__item {
    display: flex;
    @include sm {
      display: block;
    }
    @include md {
      flex-direction: column;
    }
  }
  &-container {
    @include lg {
      max-width: 900px;
      margin: 0 auto;
    }
    @include xl {
      max-width: 1150px;
      margin: 0 auto;
    }
  }

  &__season {
    &-list {
      margin: 0 0 68px 0;
      display: flex;
      list-style-type: none;
      @include sm {
        margin: 0 auto 68px;
      }
      @include md {
        justify-content: center;
      }
    }
    &-item {
      display: flex;
      margin: 0 48px 0 0;
      @include sm {
        margin: 0 10px;
      }
    }
    &-link {
      text-decoration: none;
      color: #bebebe;
    }
    &-link-active {
      display: inline;
      color: #452a32;
      background-image: linear-gradient(
        270deg,
        #ffc670 -58.54%,
        #ff6493 159.35%
      );
      background-repeat: no-repeat;
      background-size: auto 30%;
      text-decoration: none;
      background-position: bottom;
    }
  }
  &__main {
    margin: 42px 0 0 0;
  }
  &__title {
    @include sm {
      text-align: center;
    }
    @include lg {
      font-size: 32px;
    }
  }
  &__paragraph {
    font-size: 16px;
    color: #917d83;
    margin: 24px 0 0 0;
    opacity: 0.9;
    @include md {
      max-width: 500px;
    }
    @include lg {
      font-size: 20px;
    }
  }
  &__slider {
    flex-direction: column;
    @include md {
      margin: 0 auto;
    }
    &-button--prev {
      background: url("../images/product-slider__arrow-left.svg") no-repeat;
      width: 39px;
      position: absolute;
      top: 31%;
      z-index: 1;
      left: -3%;
      height: 40px;
      @include sm {
        display: none;
      }
    }
    &-button--next {
      background: url("../images/product-slider__arrow-right.svg") no-repeat;
      width: 39px;
      height: 40px;
      z-index: 1;
      position: absolute;
      right: -3%;
      top: 31%;
      @include sm {
        display: none;
      }
    }
    display: flex;
    &-container {
      max-width: 570px;
      position: relative;
    }
    &-img--big {
      width: 100%;
    }
    &-img--small {
      cursor: pointer;
      padding: 0 17px 0 0;
      @include sm {
        padding: 15px 17px 0 0;
      }
      &:last-of-type {
        padding: 0;
        @include sm {
          padding: 15px 17px 0 0;
        }
      }
    }
  }

  &__thumbs {
    margin: 14px 0 0 0;
    @include sm {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__size {
    margin: 40px 0 0 0;
    @include sm {
      display: flex;
      justify-content: center;
    }
    &-select {
      padding: 16px 82px 16px 25px;
      border: 1px solid #f2e0e5;
      box-sizing: border-box;
      outline: none;
      border-radius: 600px;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      appearance: none;
      cursor: pointer;
      background: url("../images/product__select-arrow.svg") no-repeat;
      background-position: 90% 50%;
    }
  }
  &__description {
    @include sm {
      margin: 20px 0 0 0;
    }
    @include lg {
      margin: 0 0 0 63px;
    }
    @include md {
      margin: 30px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    margin: 0 0 0 111px;
  }
  &__buy {
    margin: 32px 0 0 0;
    @include sm {
      display: flex;
      justify-content: center;
    }
    &-btn {
      background: linear-gradient(270deg, #ffac70 0%, #ff6493 100%);
      box-shadow: 0px 16px 30px rgba(255, 100, 147, 0.2);
      padding: 12px 37px 17px;
      color: $white;
    }
  }
  &__price {
    &--new {
      margin: 55px 0 0 0;
      font-size: 24px;
      @include sm {
        display: flex;
        justify-content: center;
      }
    }
    &--old {
      position: relative;
      color: #bebebe;
      @include sm {
        padding: 0 0 0 10px;
      }
      &::after {
        content: "";
        position: absolute;
        border: 2px solid #bebebe;
        transform: matrix(0.99, -0.14, 0.13, 0.99, 0, 0);
        width: 46px;
        right: 25%;
        top: 35%;
      }
    }
  }
}
